.signup-container {
	background-color: white;
	padding: 1em 5em;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.login-container > div {
	padding: 0.4em;
}

.element-group-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.element-group-header > span {
	font-size: 50px;
}

.element-group {
	display: flex;
	flex-direction: column;
	padding: 1em;
}

.element-group > label {
	font-size: large;
	padding-bottom: 0.2em;
}

.element-group > input {
	/* border: lightgray 1px solid; */
	padding: 0.5em;
	font-size: medium;
}
