.dashboard {
	display: flex;
	flex-direction: column;
}
.dashboard-navigation {
	display: flex;
}

.dashboard-navigation > ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-grow: 1;
	justify-content: center;
	list-style-type: none;
}

.dashboard-navigation > ul > li {
	padding: 1em;
	display: inline;
}

.dashboard-navigation > ul > li :first-child {
	font-size: 1.5em;
}
.dashboard-navigation > ul > li :nth-child(2) {
	padding: 0em 1em;
}

.dashboard-body {
	display: flex;
}
.dashboard-sidebar {
	flex: 1;
}
.dashboard-sidebar > ul {
	padding: 0;
	display: flex;
	flex-direction: column;
	list-style-type: none;
}

.dashboard-sidebar > ul > li {
	padding: 0.2em 1em;
}

.dashboard-sidebar > ul > li :first-child {
	font-size: 1.5em;
}
.dashboard-sidebar > ul > li :nth-child(2) {
	padding: 0em 1em;
}

.dashboard-content {
	flex: 4;
}
